<div class="col-12 d-flex center-fixed">
    <div class="card">
        <div class="card-header">
            <p class="card-header-brand">{{title}}</p>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center"></div>
                <a href="/posts/{{id}}"></a>
                    <img src="{{image_url}}"  width="160px" height="100px" alt=""/>
                </a>    
            </div>
            <div class="d-flex justify-content-between">
                <div id="post-by">Description: {{description}}</div>
            </div>
        </div>
    </div>
</div> 