{{!-- post new instrument--}}
<section class="create-section">
    <h2>Create New Post</h2>

    <form class="new-post-form">
        <div class="title">
            <label for="title">Title</label>
            <input type="text" id="title" name="title"/>
        </div>
        
        <div class="description">
            <label for="description">Description</label>
            <input id="description" name="description"/>
        </div>

		<div class="btn">
			<input type="BUTTON" name="Pick photo" value="Pick photo" id="photoPicker" class="btn btn-primary btn-sm btn-block" onclick="openPhotoPicker()">
		</div>
		<div class="btn">
		    <button type="submit" class="btn btn-primary btn-sm btn-block">Post</button>
		</div>
    </form>
</section>


<script type="text/javascript" src="https://static.filestackapi.com/v3/filestack-0.6.3.js"></script>
<script src="../js/add-post.js"></script>