<section>
    <h2>Create New Post</h2>

    <form class="new-post-form">
        <div>
            <label for="instrument-name">Instrument Name</label>
            <input type="text" id="instrument-name" name="post-title"/>
        </div>
        <div>
            <label for="brand-name">Brand Name</label>
            <input id="brand-name" name="brand-name"/>
        </div>
        <div>
            <label for="price">Price</label>
            <input id="price" name="price"/>
        </div>
        <div>
            <label for="upload">Upload Image</label>
            <input id="upload" name="upload"/>
        </div>
        <button type="submit" class="btn">Create!</button>
    </form>
</section>

{{!-- {{#if posts.length}}
<section>
    <h2>Your Posts!</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit{{post.id}}" class="edit-link">Edit Post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}} --}}

<script src="/javascript/add-post.js"></script>