{{!-- post new instrument--}}
<section>
    <h2>Create New Post</h2>

    <form class="new-post-form">
        <div>
            <label for="title">Title</label>
            <input type="text" id="instrument-name" name="post-title"/>
        </div>
        
        <div>
            <label for="description">Description</label>
            <input id="brand-name" name="brand-name"/>
        </div>

		<div>
			<input type="BUTTON" name="Pick photo" value="Pick photo" id="photoPicker" class="btn btn-primary btn-lg btn-block" onclick="openPhotoPicker()">
		</div>
		<div class="">
		    <button type="submit" class="btn btn-primary btn-lg btn-block">Post</button>
		</div>
    </form>
</section>



<script src="../js/add-post.js"></script>